body {
  margin: 0;
}

header a {
  margin-left: 15px;
}

main {
  min-height: calc(100vh - 106px);
  background-color: rgb(12, 11, 61);
}

#reimbursement-list table {
  width: 85%;
}

#new-reimbursement {
  display: flex;
  align-items: center;
}

#new-reimbursement .card {
  margin-bottom: 22vh;
  padding: 10px;
  background-color: green;
}

footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.whiteCenter {
  color: white;
  text-align: center;
}

.white {
  color: white;
}